@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: "Roboto", sans-serif;
}

body
{
	background-color: #FFFFFF;
}

.container
{
	width: 100%;
	height: 100vh;
    margin: 0 auto;
    padding: 14px; 
}

.header {
	.block-logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #FFFFFF;
		padding: 8px 14px;

		.subBlock-logo {
			h1 {
				font-size: 1.25rem;
				font-weight: 500;
				color: #000000;
			}

			p {
				font-size: 0.625rem;
				font-weight: medium;
				color: #000000;
				margin-top: 2px;
				background-color: #EDEDED;
				padding: 4px;
				width: max-content;
				border-radius: 5px;
			}
		}

		.img {
			width: 50px;
			height: 50px;
			border-radius: 999px;
			object-fit: cover;
			}
		}
}



.search {
	position: relative;
	width: 330px;
	height: 53px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	gap: 12px;
	background-color: #E6E6E6;
	margin: 0 auto;
	box-sizing: border-box;
	border-radius: 999px;
	padding: 17px;

	img {
		width: 18px;
		height: 18px;
	}
	
	.searchInput {
		border: none;
		background: transparent;
		font-size: 1rem;
		outline: none;

		&::placeholder {
		font-size: 0.90rem;
	}

		&:focus {
		outline: none;
		border: none;
		}
	}
}

.mainButton
{
	position: relative;
	width: 330px;
	height: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #0088FF;
	color: #FFFFFF;
	gap: 9px;
	border-radius: 999px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	margin-top: 12px;
	
	&:hover {
		opacity: 0.8;
	}


	.imgBtn {
		width: 20px;
		height: 20px;
	}

}

.section
{
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;

	h2 {
		font-size: 1.125rem;
		margin-top: 27px;
	}

	.mainBlocksQuestions {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 12px;
		margin-top: 12px;
		width: 100%;
		
		.cards {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 16px;
			border: 1px solid #E5E7EB;
			border-radius: 12px;
			width: 100%;
			min-height: 140px;
			padding: 16px;
			margin-top: 12px;

			p {
				font-size: 0.75rem;
			}

			.bottomCards {
				display: flex;
				align-items: center; 
				gap: 4px;        
				width: 100%;

				.imgCards {
					width: 20px;
					height: 20px;
				}

				.subButtomCards {
					font-size: 0.625rem;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 4px;

					span {
						display: inline-block;
						width: 4px;
						height: 4px;
						background-color: #FFCC00;
						border-radius: 50%;
					}
				}
			}
		}
	}
}